In [46]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Importing Data

In [48]:
df=pd.read_csv(r'E:\Udemy\data science\project prediction of loan approval\Loan.csv')
df1=df.copy()
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## Data Cleaning

In [49]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [50]:
df["Gender"].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [51]:
df.Gender=df.Gender.fillna("Male")

In [52]:
df["Married"].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [53]:
df.Married=df.Married.fillna("Yes")

In [54]:
df["Dependents"].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [55]:
df.Dependents=df.Dependents.fillna("0")

In [56]:
df["Self_Employed"].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [57]:
df.Self_Employed=df.Self_Employed.fillna("No")

In [58]:
df["LoanAmount"].value_counts()

120.0    20
110.0    17
100.0    15
187.0    12
160.0    12
         ..
570.0     1
300.0     1
376.0     1
117.0     1
311.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [59]:
df.LoanAmount=df.LoanAmount.fillna(df.LoanAmount.median())

In [60]:
df["Loan_Amount_Term"].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [61]:
df.Loan_Amount_Term=df.Loan_Amount_Term.fillna(360)

In [62]:
df["Credit_History"].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [63]:
df.Credit_History=df.Credit_History.fillna(1.0)

In [64]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Converting categorical variable into numeric

In [65]:
from sklearn.preprocessing import LabelEncoder
var_mod=['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le=LabelEncoder()
for i in var_mod:
    df[i]=le.fit_transform(df[i])

In [66]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
6,LP001013,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2,1
7,LP001014,1,1,3,0,0,3036,2504.0,158.0,360.0,0.0,1,0
8,LP001018,1,1,2,0,0,4006,1526.0,168.0,360.0,1.0,2,1
9,LP001020,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,1,0

# Feature Selection

In [67]:
x=df.iloc[:,1:12] #selecting all columns except 1st (no need) and last (target)
y=df.iloc[:,12] #selecting last i.e target column

# Model Building and Model Evaluation using K Fold Cross Validation
1. Logistic Regression
2. Support Vector Classifier
3. Random Forest Classifier
4. Decision Tree Classifier

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [69]:
from sklearn.model_selection import cross_val_score,KFold
scoreLR=cross_val_score(LogisticRegression(),x,y,cv=KFold(n_splits=5))
scoreSVC=cross_val_score(SVC(),x,y,cv=KFold(n_splits=5))
scoreRFC=cross_val_score(RandomForestClassifier(n_estimators=40),x,y,cv=KFold(n_splits=5))
scoreDTC=cross_val_score(DecisionTreeClassifier(random_state=1), x, y,cv=KFold(n_splits=5))

### Model Selection

In [70]:
print("scoreLR =",np.average(scoreLR))
print("scoreSVC =",np.average(scoreSVC))
print("scoreRFC =",np.average(scoreRFC))
print("scoreDTC =",np.average(scoreDTC))

scoreLR = 0.8045581767293083
scoreSVC = 0.6872850859656138
scoreRFC = 0.7801279488204719
scoreDTC = 0.7100892976142876

### As scoreLR is the highest so I will select Logistic Regression Model

In [71]:
model=LogisticRegression()
model.fit(x,y)

LogisticRegression()

#### Saving The model

In [72]:
import pickle
with open(r"E:\Udemy\data science\project prediction of loan approval\model","wb") as f:
    pickle.dump(model,f)

#### Let's predict whether the loan will get approved or not for a person(John) who is applying for the loan with the following details:

 - Gender : Male 
 - Married: Yes
 - Dependents: 1
 - Education: Graduate
 - Self_Employed: No
 - ApplicantIncome: 8000
 - CoapplicantIncome: 2000
 - LoanAmount (in thousand): 130
 - Loan_Amount_Term(Term of loan in months): 24
 - Credit_History: 0.0
 - Property_Area (Urban/ Semi Urban/ Rural): Urban

In [75]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [76]:
df1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

#### Convert the categorical variable value into numeric form.
 - Gender : Male (1)
 - Married: Yes (1)
 - Dependents: 1
 - Education: Graduate (0)
 - Self_Employed: No (0)
 - ApplicantIncome: 8000
 - CoapplicantIncome: 2000
 - LoanAmount (in thousand): 130
 - Loan_Amount_Term(Term of loan in months): 24
 - Credit_History: 0.0
 - Property_Area (Urban/ Semi Urban/ Rural): Urban (2)

### Let's Load the model first

In [77]:
import pickle
with open(r"E:\Udemy\data science\project prediction of loan approval\model","rb") as f:
    model=pickle.load(f)

In [78]:
res=model.predict([[1,1,1,0,0,8000,2000,130,24,0.0,2]])

In [79]:
if(res[0]==1):
    print("Loan will get approved")
else:
    print("Loan will not get approved")

Loan will get approved

##### Let's see the prediction by changing the Education: Graduate (0) to Not Graduate (1)

In [80]:
res=model.predict([[1,1,1,1,0,8000,2000,130,24,0.0,2]])

In [81]:
if(res[0]==1):
    print("Loan will get approved")
else:
    print("Loan will not get approved")

Loan will not get approved

<h1><center>Thank You!</center></h1>